.idea
/*.sw*
*.terraform
*.terraform*
/bin
/scripts/runLocal
sidecar.db*
/*.db*
/sqlite
/sqlite*
go-sidecar
/internal/tests/testdata/**/*.sql
/internal/tests/testdata/**/*.csv
/internal/tests/testdata/**/*.json
/internal/tests/testdata/*.sql
!/internal/tests/testdata/**/generateExpectedResults.sql
/*.tar
