.idea
/*.sw*
*.terraform
*.terraform*
*.sql
*.dump
/bin
/scripts/runLocal
sidecar.db*
/*.db*
/sqlite
/sqlite*
go-sidecar
/internal/tests/testdata/**/*.sql
/internal/tests/testdata/**/*.csv
/internal/tests/testdata/**/*.json
/internal/tests/testdata/*.sql
!/internal/tests/testdata/**/generateExpectedResults.sql
!/internal/tests/testdata/**/*generateExpectedResults.sql
!sqlite-extensions
/*.tar
/sidecar-data
__pycache__
test-db
*.dylib
*.dylib.dSYM
/sqlite-extensions/build
.DS_Store
node_modules
/release
.release_version
chart_releases
/snapshots/**/*.sql
/snapshots/**/*.csv

.env